header, footer {
    background-color: #95b8c4;
    color: #fff;
    margin: 1.5rem auto;
    padding: 1rem;
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 1rem;
}

body {
  text-align: center;
  width: 100%;
  text-align: center;
}

#container {
    display: inline-block;
     width: 50%;
}

h1 {
    font-size: 1.5rem;
}

p {
}

header img {
    width: 150px;
    height: auto;
}
 

nav {
    text-align: left;
}

footer {
    font-family: "candara";
    font-size: 15px;
}