@media only screen and (min-width: 60em) {
  /*header sizes*/

  h1 {
    font-size: 8em;
    margin: 0;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 2em;
    margin: 0;
  }


  /*navigation*/
  .navigation {
    display: flex;
    font-size: 1.5rem;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  /*home page */

  .reserveButton {
    font-size: 1.5em;
  }

  .homeInfoSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .infoImg {
    width: 500px;
  }

  .card {
    width: 500px;
  }

  /*rentals page*/

  .servicesDiv {
    width: 40%;
    font-size: 1.5rem;
  }

  .servicesDiv p {
   padding-left: 30px;
  }

  th, td {
    padding: 15px;
    font-size: 1.5rem;
  }

  /*reservations page*/

form {
  padding: 20px;
  width: 60%;
  margin: auto;
}
}