body{
    display: grid;
    grid-template-rows: 6;
    justify-items: center;
}

  
img {
    filter: blur(0em);
    transition: filter 1s;
    padding: 10px;
}

img[data-src] {
    filter: blur(0.2em);
  }