


body { 
  max-width: 100%;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

header {
  color: #4A6D7C;
  background-color: #B4D3D8;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 80px;
  height: auto;
}

.headings {
  display: flex;
  flex-direction: column;
}

headings h1 {
  font-size: 1em;
  margin: 0 0 0 17px;
}

h1,
h2,
h3 {
  font-family: "montserrat";
  text-align: center;
}

#pancakes {
  text-align: center;
  padding: 15px;
  border: 1px solid;
  color: white;
  background-color: #4A6D7C;
}


nav {
  margin: 0 auto;
  background-color: #FF8552;

}

.navigation {
  list-style: none;
  text-align: center;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navigation a:hover {
  color: #297373;
  background-color: white;
}

.active {
  background-color: #4A6D7C;
  text-decoration: underline;
}

.responsive li {
  display: block;
}

main {
  max-width: 900px;
  font-size: 20px;
  margin: 10px;
}

.herodiv {
  margin: 10px auto;
  position: relative;
  margin: 20px 0;
}

#heroimg {
  max-width: 100%;
}



h1, h2 {
  margin: 0;
}

p {
  margin: 0;
  font-family: domine;
}

/*Home page*/
.homeimg {
  float: left;
  width: 200px;
}


.pagetitle {
  text-align: center;
}

.summary {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #B4D3D8;
  border: 1px solid #4A6D7C;
  margin: 10px;
  padding: 20px;
  opacity: .8;
  text-align: left;
  height: 150px;
  font-size: .9em;
}

.forecastdiv {
  visibility: hidden;
}


.articlediv {
  background-color: #B4D3D8;
  border: 1px solid;
  margin: 20px 0;
  text-align: center;
  padding: 10px;
}

.articleimg {
  width: 90%;
  margin: 10px;
}

.contactdiv {
  background-color: #B4D3D8;
  border: 1px solid;
}

#contactinfo {
  padding: 20px;
  text-align: center;
}

.map {
  width: 90%;
  margin: 20px;
}

.gallerydiv {
  max-width: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
}
figure img {
  max-width: 250px;
}



footer {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #4A6D7C;
  margin: 0;
  padding: 5px;
  font-family: "domine";
}


/*------------------------form----------------*/


form fieldset {
  margin: 2rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: blue;
  margin: 1 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: red;
  font-size: 1rem;
}

form label.top input, form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgb(0,0,0,0.1);
}

form label.sbs {
  display: block;
  padding: .75rem;
  color: #555;
}



form input.submitBtn {
  border: none;
  background-color: red;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

