table, th, td, caption  {
    border: 2px solid #C0C0C0;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    margin: 20px;
    font-family: "Ubuntu", sans-serif;
}

table, caption {
    box-shadow: 10px 10px 20px #628ca6;
}

caption {
    font-weight: 700;
    font-size: 40px;
    border-bottom: none;
}

th {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(even) {
    background-color: #e7ffed;
}

#highlight {
    background-color: #628ca6;
    color: white;
}

tfoot td{
    font-size: 15px;
}

caption, tfoot {
    background-color: #7fb9c2;
    margin: 0;
}

