@media only screen and (min-width: 60em) {
  header img {
    width: 100%;
  }

  .headings h1 {
    font-size: 3.5rem;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  main {
    max-width: 900px;
    margin: 0 auto;
  }

  .summary {
    height: 250px;
    width: 250px;
    font-size: 1.5em;
  }


footer {
  width: 80%;
}
}